body {
  background-color: rgb(0, 229, 255);
  font-family: "Blackadder ITC";
  font-size: 150%;
  text-align: center;
}

h1 {
  color: rgb(255, 0, 136);
}

h2 {
  color: rgb(255, 0, 212);
}

p {
  color: white;
}